<div class="main-content">
    <div class="container-fluid">
        <div class="wrapper">
           <div class="box" id="graphBox01">
                <div class="card card-chart">
                    <div class="card-header card-header-minminas">
                        <h4 class="card-title inline-block">CO concentration in the City of Baranquilla – Colombia</h4>
                        <span class="inline-block pull-right toggle-fullscreen" (click)="toogleFullscreen('#graphBox01')"><i class="material-icons"></i></span>
                    </div>
                    <div class="card-note">
                        <span class="icon-box">
                            <i class="material-icons"></i>
                        </span>
                        <p>The graph shows the concentrations of CO (Carbon Monoxide) in micrograms per cubic meter [µg / m3] of the city of Barranquilla - Colombia, in the periods from December 31, 2015 to November 30, 2017..</p>
                    </div>
                    <div class="card-body">
                        <plotly-plot [data]="libgrafica.graficos.map.plotp.data" [layout]="libgrafica.graficos.map.plotp.layout"></plotly-plot>
                    </div>
                </div>
            </div>
            <div class="box" id="graphBox01">
                <div class="card card-chart">
                    <div class="card-header card-header-minminas">
                        <h4 class="card-title inline-block">CO concentration in the City of Baranquilla – Colombia</h4>
                        <span class="inline-block pull-right toggle-fullscreen" (click)="toogleFullscreen('#graphBox01')"><i class="material-icons"></i></span>
                    </div>
                    <div class="card-note">
                        <span class="icon-box">
                            <i class="material-icons"></i>
                        </span>
                        <p>The graph shows the concentrations of CO (Carbon Monoxide) in micrograms per cubic meter [µg / m3] of the city of Barranquilla - Colombia, in the periods from December 31, 2015 to November 30, 2017..</p>
                    </div>
                    <div class="card-body">
                        <plotly-plot [data]="libgrafica.graficos.barranquilla.plotp.data" [layout]="libgrafica.graficos.barranquilla.plotp.layout"></plotly-plot>
                    </div>
                </div>
            </div>
            <div class="box" id="graphBox02">
                <div class="card card-chart">
                    <div class="card-header card-header-minminas">
                        <h4 class="card-title inline-block">CO concentration in the City of Bogotá – Colombia</h4>
                        <span class="inline-block pull-right toggle-fullscreen" (click)="toogleFullscreen('#graphBox02')"><i class="material-icons"></i></span>
                    </div>
                    <div class="card-note">
                        <span class="icon-box">
                            <i class="material-icons"></i>
                        </span>
                        <p>The graph shows the concentrations of CO (Carbon Monoxide) in micrograms per cubic meter [µg / m3] of the city of Bogotá - Colombia, in the periods from December 31, 2010 to October 31, 2017.</p>
                    </div>
                    <div class="card-body">
                        <plotly-plot [data]="libgrafica.graficos.bogota.plotp.data" [layout]="libgrafica.graficos.bogota.plotp.layout"></plotly-plot>
                    </div>
                </div>
            </div>
            <div class="box" id="graphBox03">
                <div class="card card-chart">
                    <div class="card-header card-header-minminas">
                        <h4 class="card-title inline-block">CO concentration in the City of Bucaramanga - Colombia</h4>
                        <span class="inline-block pull-right toggle-fullscreen" (click)="toogleFullscreen('#graphBox03')"><i class="material-icons"></i></span>
                    </div>
                    <div class="card-note">
                        <span class="icon-box">
                            <i class="material-icons"></i>
                        </span>
                        <p>The graph shows the concentrations of CO (Carbon Monoxide) in micrograms per cubic meter [µg / m3] of the city of Bucaramanga - Colombia, in the periods from December 31, 2010 to October 31, 2016.</p>
                    </div>
                    <div class="card-body">
                        <plotly-plot [data]="libgrafica.graficos.bucaramanga.plotp.data" [layout]="libgrafica.graficos.bucaramanga.plotp.layout"></plotly-plot>
                    </div>
                </div>
            </div>
            <div class="box" id="graphBox05">
                <div class="card card-chart">
                    <div class="card-header card-header-minminas">
                        <h4 class="card-title inline-block">CO concentration in the City of Cali – Colombia</h4>
                        <span class="inline-block pull-right toggle-fullscreen" (click)="toogleFullscreen('#graphBox05')"><i class="material-icons"></i></span>
                    </div>
                    <div class="card-note">
                        <span class="icon-box">
                            <i class="material-icons"></i>
                        </span>
                        <p>The graph shows the concentrations of CO (Carbon Monoxide) in micrograms per cubic meter [µg / m3] of the city of Cali - Colombia, in the periods from December 31, 2010 to October 30, 2012 .</p>
                    </div>
                    <div class="card-body">
                        <plotly-plot [data]="libgrafica.graficos.cali.plotp.data" [layout]="libgrafica.graficos.cali.plotp.layout"></plotly-plot>
                    </div>
                </div>
            </div>
            <div class="box" id="graphBox06">
                <div class="card card-chart">
                    <div class="card-header card-header-minminas">
                        <h4 class="card-title inline-block">CO concentration in the City of Medellín – Colombia</h4>
                        <span class="inline-block pull-right toggle-fullscreen" (click)="toogleFullscreen('#graphBox06')"><i class="material-icons"></i></span>
                    </div>
                    <div class="card-note">
                        <span class="icon-box">
                            <i class="material-icons"></i>
                        </span>
                        <p>The graph shows the concentrations of CO (Carbon Monoxide) in micrograms per cubic meter [µg / m3] of the city of Medellín - Colombia, in the periods from December 31, 2011 to October 31, 2017 .</p>
                    </div>
                    <div class="card-body">
                        <plotly-plot [data]="libgrafica.graficos.medellin.plotp.data" [layout]="libgrafica.graficos.medellin.plotp.layout"></plotly-plot>
                    </div>
                </div>
            </div>
             <div class="box" id="graphBox06">
                <div class="card card-chart">
                    <div class="card-header card-header-minminas">
                        <h4 class="card-title inline-block">CO concentration in the City of Santa Marta – Colombiae</h4>
                        <span class="inline-block pull-right toggle-fullscreen" (click)="toogleFullscreen('#graphBox06')"><i class="material-icons"></i></span>
                    </div>
                    <div class="card-note">
                        <span class="icon-box">
                            <i class="material-icons"></i>
                        </span>
                        <p>The graph shows the concentrations of CO (Carbon Monoxide) in micrograms per cubic meter [µg / m3] of the city of Santa Marta - Colombia, in the periods from December 31, 2015 to November 30 of the year 2017.</p>
                    </div>
                    <div class="card-body">
                        <plotly-plot [data]="libgrafica.graficos.santamarta.plotp.data" [layout]="libgrafica.graficos.santamarta.plotp.layout"></plotly-plot>
                    </div>
                </div>
            </div>

        </div>

        <!------------------------------------------------------------------------->

    </div>
</div>
